"*":
  "atom-beautify":
    general:
      _analyticsUserId: "98136ccc-0fe0-4ba4-ae25-663646c27381"
  core:
    disabledPackages: [
      "ex-mode"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    showIndentGuide: true
    softWrap: true
  "exception-reporting":
    userId: "15c9f1b4-4d9e-0f40-73c5-1de435c15d2d"
  "git-plus":
    general:
      _analyticsUserId: "f4e2b7dd-2c5c-4c29-a412-90314ce94c7e"
  welcome:
    showOnStartup: false
